/* Reset styles */
* {
  margin: 150;
  padding: 120;
  box-sizing: border-box;
}


/* Body styles */
body {
  font-family: Arial, Arial, Helvetica;
  background-color: #eae2b7;
  color: #095862;
  font-size: 14px;
}

/* Header styles */
header {
  text-align: center;
  padding: 20px 0;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #d62828;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #0097f5;
}

/* Main styles */
main {
  text-align: left;
  padding: 20px 220px;
}
main div{
  padding: 20px 80px;
}
/* About section styles */
#about {
  text-align: center;
}

#about h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
#about p {
   margin-bottom: 20px;
  text-align: left;
}

#about h3 {
  font-size: 18px;
  text-align :center
  
} 
#about ul {
   margin-left: 20px;
  text-align :left 
}

.image-circle {
  border-radius: 50%;
  border: 2px solid #003049;
}

/* Portfolio section styles */
#portfolio {
  text-align: center;
  
}

#portfolio h2 {
  font-size: 24px;
   text-align: center;
  margin-bottom: 20px;
}

#portfolio h3 {
  font-size: 18px;
}
#portfolio p {
  text-align: left;
}

/* Contact section styles */
#contact {
  text-align: center;
  
}

#contact h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
#contact ol {
   text-align: left;
   padding: 20px 80px;
}
#contact p {
  text-align: left;
}
/* Footer styles */
footer {
  text-align: center;
  padding: 20px 80px;
}

/* Additional styles */
img {
  max-width: 20%;
  max-height: 20%;
  align-items: center;
}

/* Styles for regular links */
a {
  color: #d62828; /* Default link color */
  text-decoration: none; /* Remove underline */
}

/* Styles for hovered links */
a:hover {
  color: #6664dd; /* Change link color on hover */
  text-decoration: underline; /* Add underline on hover */
}
